<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr >
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Lavoro nel mondo della consulenza come sviluppatore software da 10 anni.
          Nel 2018 ho iniziato a interessarmi e a studiare l'Agilità, approcciandomi alle pratiche tecniche di eXtreme Programming e a Scrum.
        </p>
      </div>
      <div class="col-lg-4">
        <p>Credo che lo sviluppo del software abbia bisogno di costante allenamento per essere migliorato e raffinato.
          Proprio per questo motivo mi dedico con passione allo studio e mi piace mettermi in gioco per migliorare le mie competenze.
        </p>
      </div>
    </div>
  </div>
</section>
