<!-- Skills Modals -->
{% for post in site.posts %}
<div class="skills-modal modal fade modal-content" id="skillsModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
        <h2>{{ post.title }}</h2>
        <hr />
        <div>
          {{ post.content }}
          {% if post.description %}
          <p>{{ post.description }}</p>
          {% endif %}
        </div>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </button>
      </div>
{% endfor %}
